In [1]:
import numpy as np
import pandas as pd

In [2]:
def create_grid_coords():
    """Create a vector of gridded coordinates.
        
    returns: (x , y , coords) where
        x is an RxC ndarray of xcoords for each cimis grid centroid
        y is an RxC ndarray of ycoords for each cimis grid centroid
        coords is an RxC chararray of unique identifiers of the form for 'XxYy' (e.g. '-409000x459000y')
            with X representing the xcoord of that grid cell and Y the ycoord of the grid cell
    """
    # create matrix of x coordinates for cells in EPSG 3310
    x = np.ndarray((nrows,ncols)) + xllcenter
    offsets = cellsize*np.arange(ncols)
    x = x + offsets
    
    # create matrix of y coordinates for cells in EPSG 3310
    y = np.ndarray((nrows,ncols)) + yllcenter
    offsets = cellsize*np.arange(nrows)
    y = np.flipud(np.transpose(np.transpose(y) + offsets))
    
    # create matrix of unique identifiers for each cell by appending x and y coords into a string
    xcoords = np.core.defchararray.add(x.astype(int).astype(str), "x" )
    ycoords = np.core.defchararray.add(y.astype(int).astype(str), "y" )
    coords = np.core.defchararray.add(xcoords, ycoords)
    
    return (x, y, coords)

In [3]:
def get_formatted_url(year, month, day, data_field):
    """Create a formatted url to query for a single Spatial CIMIS data file.
    
    returns: url a formatted url string
    """
    url = "http://cimis.casil.ucdavis.edu/cimis/{}/{:02d}/{:02d}/{}.asc.gz".format(year, month, day, data_field)
    return url

In [4]:
def parse_spatial_cimis_field(url):
    """Fetch Spatial CIMIS data in asc format from the url and parse into a 'long' output vector.
    
    return: CIMIS data reshaped into a single pandas Series (row-major format)
    """
    df = pd.read_csv("../../../../Dropbox/CIMIS/ET2003_02_20.asc", sep=" ", header=None, skiprows=6)
    #df = pd.read_csv(url, compression="gzip", sep=" ", header=None, skiprows=6)
    df = df.loc[:,df.mean().notnull()]
    
    return df.values.reshape(total_cells)

In [5]:
def get_tidy_cimis_daily(year, month, day, coord_vec=None):
    """Query all of the different Spatial CIMIS data fields for a single day and
    assemble them into a dataframe format suitable for storing in a relational database. 
    This includes the addition of contextual fields like coordinates, date fields,
    and a unique identifier.
    
    returns: output a pandas dataframe where each row holds all of the measurements for a given grid cell
        on a particular date.
    """
    
    print "Parsing data for", pd.datetime(year, month, day)
    
    if coord_vec is None:
        coord_vec = create_grid_coords()
        
    x, y, coords = coord_vec
    
    out_dict = {
        "sc_cell_id": coords.reshape(total_cells),
        "sc_x": x.reshape(total_cells),
        "sc_y": y.reshape(total_cells),
        "sc_year": year,
        "sc_month": month,
        "sc_day": day,
        "sc_date": pd.datetime(year, month, day)
    }
    
    for field in fieldlist:
        url = get_formatted_url(year, month, day, field)
        fieldname = "sc_{}".format(field).lower()
        out_dict[fieldname] = parse_spatial_cimis_field(url)
    
    # assemble output dataframe by melting/reshaping above matrices into single columns
    output = pd.DataFrame(out_dict)
    
    return output

In [6]:
def get_tidy_cimis_daterange(start_date=None, end_date=None, coord_vec=None):

    if start_date < pd.datetime("2003-02-20"):
        raise ValueError("no data available before 2003-02-20")
    
    if start_date > end_date:
        raise ValueError("start_date must be <= end_date")
    
    print "Fetching data from", start_date, "to", end_date
    
    if coord_vec is None:
        coord_vec = create_grid_coords()
        
    #TODO iterate over the dates in the range and call tidy_cimis_daily for each

In [7]:
ncols = 510
nrows = 560
xllcorner = -410000
yllcorner = -660000
cellsize = 2000.000000

total_cells = nrows*ncols
xllcenter = xllcorner + int(cellsize/2)
yllcenter = yllcorner + int(cellsize/2)

coord_vec = create_grid_coords()

year = 2003
month = 2
day = 20

fieldlist = ["ETo", "K", "Rnl", "Rs", "Rso", "Tdew", "Tn", "Tx", "U2"]

In [8]:
get_tidy_cimis_daily(2003, 2, 20, coord_vec)

Parsing data for 2003-02-20 00:00:00

,sc_cell_id,sc_date,sc_day,sc_eto,sc_k,sc_month,sc_rnl,sc_rs,sc_rso,sc_tdew,sc_tn,sc_tx,sc_u2,sc_x,sc_y,sc_year
0,-409000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-409000.0,459000.0,2003
1,-407000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-407000.0,459000.0,2003
2,-405000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-405000.0,459000.0,2003
3,-403000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-403000.0,459000.0,2003
4,-401000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-401000.0,459000.0,2003
5,-399000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-399000.0,459000.0,2003
6,-397000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-397000.0,459000.0,2003
7,-395000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-395000.0,459000.0,2003
8,-393000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-393000.0,459000.0,2003
9,-391000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-391000.0,459000.0,2003
10,-389000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-389000.0,459000.0,2003
11,-387000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-387000.0,459000.0,2003
12,-385000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-385000.0,459000.0,2003
13,-383000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-383000.0,459000.0,2003
14,-381000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-381000.0,459000.0,2003
15,-379000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-379000.0,459000.0,2003
16,-377000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-377000.0,459000.0,2003
17,-375000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-375000.0,459000.0,2003
18,-373000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-373000.0,459000.0,2003
19,-371000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-371000.0,459000.0,2003
20,-369000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-369000.0,459000.0,2003
21,-367000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-367000.0,459000.0,2003
22,-365000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-365000.0,459000.0,2003
23,-363000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-363000.0,459000.0,2003
24,-361000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-361000.0,459000.0,2003
25,-359000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-359000.0,459000.0,2003
26,-357000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-357000.0,459000.0,2003
27,-355000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-355000.0,459000.0,2003
28,-353000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-353000.0,459000.0,2003
29,-351000x459000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-351000.0,459000.0,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285570,551000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,551000.0,-659000.0,2003
285571,553000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,553000.0,-659000.0,2003
285572,555000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,555000.0,-659000.0,2003
285573,557000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,557000.0,-659000.0,2003
285574,559000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,559000.0,-659000.0,2003
285575,561000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,561000.0,-659000.0,2003
285576,563000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,563000.0,-659000.0,2003
285577,565000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,565000.0,-659000.0,2003
285578,567000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,567000.0,-659000.0,2003
285579,569000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,569000.0,-659000.0,2003
285580,571000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,571000.0,-659000.0,2003
285581,573000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,573000.0,-659000.0,2003
285582,575000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,575000.0,-659000.0,2003
285583,577000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,577000.0,-659000.0,2003
285584,579000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,579000.0,-659000.0,2003
285585,581000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,581000.0,-659000.0,2003
285586,583000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,583000.0,-659000.0,2003
285587,585000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,585000.0,-659000.0,2003
285588,587000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,587000.0,-659000.0,2003
285589,589000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,589000.0,-659000.0,2003
285590,591000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,591000.0,-659000.0,2003
285591,593000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,593000.0,-659000.0,2003
285592,595000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,595000.0,-659000.0,2003
285593,597000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,597000.0,-659000.0,2003
285594,599000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,599000.0,-659000.0,2003
285595,601000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,601000.0,-659000.0,2003
285596,603000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,603000.0,-659000.0,2003
285597,605000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,605000.0,-659000.0,2003
285598,607000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,607000.0,-659000.0,2003
285599,609000x-659000y,2003-02-20,20,-9999.0,-9999.0,2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,609000.0,-659000.0,2003